.parsley-errors-list {
    padding: 0;
    list-style-type: none;
    color: #ed5654;
    font-size: 0.9em;
    width: 100%;
}

.breadcrumb {
    width: 100%;
}

.product .product-price:before,
.product .product-line-price:before,
.totals-value:before {
    content: '$';
}